body{
  background-color:rgb(25,0,51);
  text-align:center;
  color: rgb(242,192,220);
  font-size: 40px;
}

h1{
  font-family:"Helvetica", sans-serif;
}

div
{
  color: rgb(25,0,51);
  background-color: rgb(242,192,220);
  margin: 40px;
  font-size: 25px;
}

image1 {
   height: 50px;
   width: 50px;
}

image2 {
   height: 50px;
   width: 50px;
}


#tanya-footer{
  background-color:white;
  padding: 6px;
  clear: both;
}
