body{
  background-color:rgb(25,0,51);
  text-align:center;
  color: rgb(242,192,220);
  font-size: 40px;
}

h1{
  font-family:"Helvetica", sans-serif;
}

#tanya-footer{
  background-color:white;
  padding: 6px;
  clear: both;
}
