body{
  background-color:rgb(25,0,51);
  text-align:center;
  color: rgb(242,192,220);
  font-size: 40px;
}

h1{
  font-family:"Helvetica", sans-serif;
}

#info-table{width:880px; margin:0 auto;}

#info-tr{width:200px; text-align:center;}

#info-td{width:200px; text-align:center;}



#tanya-footer{
  background-color:white;
  padding: 6px;
  clear: both;
}
